{% extends 'base-template.html' %}

{% block title %} Home {% endblock %}

{% if loggedin %}

{%block breadcrumb%}

{% if breadcrumb %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">
                    <em class="fa fa-home"></em>
                </a></li>
            <li class="active">{{breadcrumb}}</li>
        </ol>
    </div>
    <!--/.row-->
    {% endif %}
    <!--/endif breadcrumb-->
    {% endblock%}

    {%block page_header%}

    {% if page_header %}
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">{{page_header}}</h3>
        </div>
    </div>
    <!--/.row-->
    {% endif %}
    <!--/endif page_header-->
    {% endblock %}

    {% block content %}
    <div>
        <p>Selecione a data para ver os itens mais vendidos no periodo!</p>

        <input type="text" name="datefilter" id='datemais' value="" placeholder="YYYY/MM/DD" />
    </div>
    <div class="row">
        <div class="col-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Descricao</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Vendidos</th>
                        <th scope="col">Valor Total(R$)</th>
                    </tr>
                </thead>
                <tbody id='tablemais'>

                </tbody>
            </table>
        </div>
    </div>

    <hr>


    <div>
        <p>Selecione a data para ver os itens menos vendidos no periodo!</p>

        <input type="text" id='filtermenos' name="datefiltermenos" value="" placeholder="YYYY/MM/DD" />
    </div>
    <div class="row">
        <div class="col-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Descricao</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Vendidos</th>
                        <th scope="col">Valor Total</th>
                    </tr>
                </thead>
                <tbody id='tablemenos'>

                </tbody>
            </table>
        </div>
    </div>


    <script type="text/javascript">

$(document).ready(function () {

            $('input[name="datefilter"]').daterangepicker({
                autoUpdateInput: false,
                locale: {
                    cancelLabel: 'Clear',
                }
            });

            $('input[name="datefilter"]').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('YYYY-MM-DD') + ' / ' + picker.endDate.format('YYYY-MM-DD'));
                var element = document.getElementById('datemais')
                var minelement = element.value.substring(0, element.value.indexOf("/"));
                var maxelement = element.value.substring(element.value.indexOf("/") + 1, element.value.length);

                $("#tablemais tr").remove();
                //var tb = document.getElementById('tablemais');
                //var tr = tb.closest('tr');
                //tr.remove(); 

                $.post('maisVendidos', { datamin: minelement, datamax: maxelement }, function (dado) {
                    if(dado.length == 0){
                        alert('Não há itens entre essas datas!');
                    }
                    else{
                    for (var i = 0; i < 9; i++) {
                        //Adicionando registros retornados na tabela
                        $('#tablemais').append('<tr><td>' + dado[i][0] + '</td><td>' + dado[i][1] + '</td><td>' + dado[i][2] + '</td><td>'
                            + dado[i][3] + '</td><td>' + dado[i][4] + '</td></tr>');
                    }
                }
                });
            });

            $('input[name="datefilter"]').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });

//------------------------
            $('#filtermenos').daterangepicker({
                autoUpdateInput: false,
                locale: {
                    cancelLabel: 'Clear',
                }
            });

            $('#filtermenos').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('YYYY-MM-DD') + ' / ' + picker.endDate.format('YYYY-MM-DD'));
                var data = document.getElementById('filtermenos')
                var mindata = data.value.substring(0, data.value.indexOf("/"));
                var maxdata = data.value.substring(data.value.indexOf("/") + 1, data.value.length);
                $("#tablemenos tr").remove();

                //var tb = document.getElementById('tablemais')
                //var tr = tb.closest('tr')
                //tr.remove(); 

                $.post('menosVendidos', { datamin: mindata, datamax: maxdata }, function (dados) {
                    console.log(dados.length);
                    if(dados.length == 0){
                        alert('Não há itens entre essas datas!');
                    }
                    else{
                    for (var i = 0; i < 9; i++) {
                        //Adicionando registros retornados na tabela
                        $('#tablemenos').append('<tr><td>' + dados[i][0] + '</td><td>' + dados[i][1] + '</td><td>' + dados[i][2] + '</td><td>'
                            + dados[i][3] + '</td><td>' + dados[i][4] + '</td></tr>');
                    }
                }
                });
            });

            $('#filtermenos').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });



        });
    </script>


    {% endblock %}

    {% endif %}