{% extends 'base-template.html' %}

{% block title %} Vendas {% endblock %}

{% if loggedin %} 

{% block breadcrumb %}	

    {% if breadcrumb %}
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">
                <em class="fa fa-home"></em>
            </a></li>
            <li class="active">{{breadcrumb}}</li>
        </ol>
    </div>
    <!--/.row-->
    {% endif %} <!--/endif breadcrumb-->
    {% endblock %}

{% block page_header %}

    {% if page_header %}
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">{{page_header}}</h3>
        </div>
    </div><!--/.row-->
    {% endif %} <!--/endif page_header-->
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <button type="button" class="btn btn-success" id="Adicionar" data-toggle="modal" data-target="#ModalNovoPedido">
            Novo Pedido
        </button>    
    </div>
</div>
<div class="col"> 
    <br>
    <table id='ListaPedidos' class='display'>
        <thead>
            <tr>
                <th>IdCliente</th>
                <th>IdUsuario</th>
                <th>Data do Pedido</th>
                <th>Hora do Pedido</th>
                <th>Ações</th>                            
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
            <tr>
                <td>{{ pedido[0] }}</td>
                <td>{{ pedido[1] }}</td>
                <td>{{ pedido[2] }}</td>
                <td>{{ pedido[3] }}</td>
                <td> 
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary mr-5" data-toggle="modal" data-target="#ModalDetalhesPedido{{ pedido[0] }}">
                            Detalhes
                        </button>
                        <button type="button" class="btn btn-danger deletar" id="Delete" value="{{ pedido[0] }}">
                            Deletar
                        </button>
                    </div> 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
<div class="modal fade" id="ModalNovoPedido">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">                        
            <div class="modal-header">
                <h4 class="modal-title">Realização de Pedido</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>                
            <div class="modal-body mx-3">
                <div class="row">
                <form role="form" method="POST" action="{{ url_for('AdicionaPedido') }}">
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="" data-error="wrong" data-success="right">Cliente</label>
                            <select name="Cliente" id="Cliente" class="js-example-basic form-control custom-select">
                                {% for cliente in Clientes %}
                                    <option value="{{ cliente[0] }}">{{ cliente[0] }} - {{cliente[1] }} - {{cliente[2] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Usuario Logado</label>
                            <input name="idUsuario" id="idUsuario" value="{{ username }}" readonly required type="text" class="form-control"  id="usuario_logado" >
                        </div>
                        <div class="form-group col-md-3">
                            <button type="button" id="GravaPedido" class="btn btn-success" >Salvar</button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="" data-error="wrong" data-success="right">Produto</label>
                                <select disabled name="Produto" id="ProdutoPedido" class="js-example-basic form-control custom-select">
                                    {% for produto in Produtos %}
                                    <option value="{{ produto[0] }}">{{ produto[0] }} - {{produto[1] }} - {{produto[2] }} - {{produto[3] }}</option>
                                    {% endfor %}
                                </select>
                        </div>
                        <div class="form-group col-md-5">
                            <label>Quantidade</label>
                            <input name="QuantidadePedido" value="0" disabled required type="number" class="form-control"  id="QuantidadePedido">
                        </div>
                        <div class="form-group col-md-5">
                            <label>Quantidade Disponível</label>
                            <input name="QuantidadeDisponivelPedido" value="" readonly required type="number" class="form-control"  id="QuantidadeDisponivelPedido">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-5">
                                <label>Preço</label>
                                <input name="PrecoProduto" value="" readonly required type="numeric" class="form-control"  id="PrecoProduto">
                        </div>
                        <div class="form-group col-md-5">
                                <label>Valor</label>
                                <input name="ValorTotalProduto" value="" readonly required type="numeric" class="form-control"  id="ValorTotalProduto">
                        </div>
                        <div class="form-group col-md-5">
                            <button type="button" class="btn btn-success" disabled id="AdicionaProdutos">Adicionar Produto</button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <table class="table table-striped" id="ProdutosPedido">
                                <thead class="thead">
                                    <tr>
                                        <th scope="col"> IdProduto </th>
                                        <th scope="col"> idPedidoItem </th>
                                        <th scope="col"> Descrição do produto </th>
                                        <th scope="col"> Marca do produto </th>
                                        <th scope="col"> Cor do produto </th>
                                        <th scope="col"> Quantidade </th>
                                        <th scope="col"> Preço </th>
                                        <th scope="col"> Total por Produto</th>
                                        <th scope="col"> Remover</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                            <br>
                            <br>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Valor Final</label>
                            <input name="ValorTotalPedido" value="" readonly required type="numeric" class="form-control"  id="ValorTotalPedido">
                        </div>
                        <div class="form-group col-md-5">
                            <button type="button" class="btn btn-success" disabled id="FinalizarPedido">Finalizar</button>
                        </div>
                    </div>
                </form>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){

        var IdCliente = parseInt($('#Cliente').val());
        var IdUsuario = $('#idUsuario').val();
        var IdProduto = '';
        var IdPedido = 0;
        var descricao = '';
        var Marca = '';
        var Cor = '';
        var Preco = '';
        var Quantidade ='';
        var ValorFinal = 0;
        var QuantidadeAtual = 0;
        var ValorPorProdutoTabela = 0;

        $('#ListaPedidos').DataTable();
        $('.js-example-basic').select2();

        $('#GravaPedido').click(function(){
            $('#ProdutoPedido').prop("disabled", false);
            $('#QuantidadePedido').prop("disabled", false);
            $('#AdicionaProdutos').prop("disabled", false);
            $('#Cliente').prop("disabled", true);
            
            $.post("AdicionaPedido",{idCliente:IdCliente,IdUsuario:IdUsuario}, function(data){
                $('#GravaPedido').prop("disabled", true);
                IdPedido = parseInt(data[0]);
            })
        })
        $('#ProdutoPedido').change(function(){
            var id = $(this).val();
            $.post("GetProduto",{id:id}, function(data){

                IdProduto = parseInt(data[0]);
                descricao = data[1];
                Marca = data[2];
                Cor = data[3];
                Preco = data[6];
                Quantidade = data[7]

                $('#QuantidadeDisponivelPedido').val(parseInt(Quantidade));
                $('#PrecoProduto').val(Preco).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
            })
        })
        $('#QuantidadePedido').focusout(function(){
            QuantidadeAtual = parseInt($(this).val());
            if(QuantidadeAtual >= 0 && QuantidadeAtual <= $('#QuantidadeDisponivelPedido').val()){
                var total = $('#PrecoProduto').val() * QuantidadeAtual
                $('#ValorTotalProduto').val(total.toFixed(2));
            }
            else{
                alert('Quantidade maior do que a Disponível!');
            }
        })

        var idPedidoItem = 0;
        $('#AdicionaProdutos').click(function(){
            if ($('#ValorTotalProduto').val() != 0 && $('#ValorTotalProduto').val() !='' && $('#QuantidadePedido').val() != 0 && $('#QuantidadePedido').val() != '') {
                $('#FinalizarPedido').prop("disabled",false);
                $.post("AdicionaPedidoItem",{idPedido:IdPedido,idProduto:IdProduto,QuantidadePedidoItem:QuantidadeAtual},function(data){
                    ValorPorProdutoTabela = data[0][8];
                    var last_element = data[data.length - 1];
                    console.log(last_element[0]);
                    idPedidoItem = last_element[0];
                    LimpaTela();    
                    PreencheTabela();
                    AtualizaValorFinal();
                    
                })
                
                return false;
            }
        })


        function PreencheTabela(){
            var newRow = $("<tr>");
                    var cols = "";	
                    cols += '<td>'+ IdProduto +'</td>';
                    cols += '<td id= idPedidoItem>'+ idPedidoItem +'</td>';
                    cols += '<td>'+ descricao +'</td>';
                    cols += '<td>'+ Marca +'</td>';
                    cols += '<td>'+ Cor +'</td>';
                    cols += '<td>'+ $('#QuantidadePedido').val() +'</td>';
                    cols += '<td>'+ $('#PrecoProduto').val() +'</td>';
                    cols += '<td class="valorTotalSoma">'+ ValorPorProdutoTabela.toFixed(2) +'</td>';
                    cols += '<td>';
                    cols += '<button value="'+idPedidoItem+'" class="remover btn danger fa fa-trash-o" aria-hidden="true" type="button"></button>';
                    cols += '</td>';
                    newRow.append(cols);
                    $("#ProdutosPedido").append(newRow);
        }

        function LimpaTela(){
            $('#ProdutoPedido').focus();
            $('#QuantidadePedido').val(0);
            $('#QuantidadeDisponivelPedido').val(0);
            $('#PrecoProduto').val(0);
            $('#ValorTotalProduto').val(0);
        }

        function AtualizaValorFinal(){
            ValorFinal = 0;
            $.post('pedidosValoresView',{idPedido: IdPedido},function(data){
                console.log('Valor final da view: ',ValorFinal, data);
                if(data == null){
                    ValorFinal = 0;
                }
                else{
                    ValorFinal = data[0];
                }
                console.log('Valor final da view: ',ValorFinal);
                $('#ValorTotalPedido').val(ValorFinal.toFixed(2));
            })
        }

        $("#ProdutosPedido").on("click",".remover", function(){
            var tr = $(this).closest('tr')
            idPedidoItem = tr.find('td').children().val();
            tr.remove();
            $.post('deletarPedidoItem',{idPedidoItem:idPedidoItem},function(data){
                AtualizaValorFinal();
            })
        });

        $('#FinalizarPedido').click(function(){
            $.post("FinalizarPedido",{idPedido: IdPedido},function(data){
                Swal.fire({
                    title: 'Pedido Registrado!',
                    icon:'success',
                    showConfirmButton: false,
                    timer: 1500
                })
            })
        })

    })
    
    

</script>

{% endblock %}

{% endif %}